<!DOCTYPE HTML>
<html lang="kr">
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title>Sanic 블로그 - {{ title }}</title>
        {% else %}
        <title>Sanic 블로그</title>
        {% endif %}
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{{ url_for('static', filename='layout.css', name='css') }}">
        {% block stylesheet %}{% endblock %}

    </head>

    <body>
        <header>
            <nav>
                <a href="{{ url_for('index') }}">Sanic 블로그</a>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('about') }}">About</a>
            </nav>
            <hr>
        </header>

        <main role="main">
        <!-- Main content block -->
        {% block content %}{% endblock %}
        </main>
    </body>
</html>
